body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.chartMeat {
  float: left;
  display: block-inline;
}

#chartInfo {
  width: calc(15% - 20px);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
#chartMain {
  width: 70%;
}
#chartOpts {
  width: calc(15% - 20px);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.chartTitle {
  font-weight: 700;
  text-align: center;
}

.chartSubTitle {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.color-box#average {background-color: rgba(0, 0, 255, 0.5);}

.color-box#maximum {background-color: rgba(255, 0, 0, 0.5);}

.color-box#minimum {background-color: rgba(0, 255, 0, 0.5);}

.color-box#breakfast {background-color: rgba(210, 210, 0, 1);}

.color-box#lunch {background-color: rgba(85, 107, 47, 1);}

.color-box#dinner {background-color: rgba(119, 62, 5, 1);}

.color-box#bedtime {background-color: rgba(0, 0, 0, 1);}
